<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Song Information</h3>

  <div class="field">
    <%= form.label "Song Title", class: "required" %>
    <%= form.text_field :name, id: :song_name, placeholder: "e.g. Penny Lane" %>
  </div>

  <div class="field">
    <%= form.label :artist, class: "required" %>
    <%= form.text_field :artist, id: :song_artist, placeholder: "e.g. The Beatles" %>
  </div>

  <div class="field">
    <%= form.label :album, class: "required" %>
    <%= form.text_field :album, id: :song_album %>
  </div>

  <h3>Song Location</h3>

  <div class="field">
    <%= form.label :street, class: "required" %>
    <%= form.text_field :street, id: :song_street, placeholder: "e.g. Penny Lane" %>
  </div>

  <div class="field">
    <%= form.label :city, class: "required" %>
    <%= form.text_field :city, id: :song_city, placeholder: "e.g. Liverpool" %>
  </div>

  <div class="field">
    <%= form.label :country, class: "required" %>
    <%= form.text_field :country, id: :song_country, placeholder: "e.g. UK"%>
  </div>

  <div class="actions">
    <%= form.submit "Add song to map" %>
  </div>
<% end %>
